/* GENERAL */

body {
  background-color: #141414;
  font-size: 12px;
}

.icon:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* BUTTONS */
/* .genres{
  background-color: #141414;
  color: #e6e6e6;
} */

.btn-netflix {
  background-color: transparent;
  border: 1px solid #777;
  color: #e6e6e6;
  font-size: 0.9rem;
  padding: 5px 12px;
  border-radius: 0;
}

.btn-netflix:hover {
  background-color: #e6e6e6;
  color: #141414;
}
/* HEADER */
header {
  color: #e6e6e6;
}

.navbar .nav-link {
  color: #e6e6e6;
}

.nav-link:hover,
.footer-li:hover {
  font-weight: 700;
}

.logo {
  max-width: 130px;
  cursor: pointer;
}

.avatar {
  max-width: 40px;
}

.hamburger-icon {
  color: white;
}

/* MAIN */
main {
  color: #e6e6e6;
}

h2 {
  font-size: 1.3em;
  margin: 1em;
}

.carousel img {
  transition: transform 0.3s;
}

.carousel img:hover {
  transform: scale(1.1);
}

.carousel-item .row div {
  padding: 0;
}

/* profile page specific */
.input-style {
  background-color: #808080;
  border-radius: 0;
  color: #e6e6e6;
}

.select-style {
  background-color: #141414;
  border-radius: 0;
  color: #e6e6e6;
}

.select-style:hover {
  background-color: #e6e6e6;
  color: #141414;
}

/* FOOTER */
footer {
  color: #808080;
}
